
@charset "utf-8";
.conference-title{
	width: 100%;
	height: 40px;
	text-align: center;
	margin-bottom: 20px;
	background: url("/images/conference/title-background.jpg") repeat;
	padding-top: 5px;
}
.conference-title span{	
	color:#fff;
	font-size:30px;
	font-family: helvetica;
}
.nbaBracketModule {
    background: url("http://i.cdn.turner.com/nba/tmpl_asset/static/nba-cms3-section/872/elements/playoffs/2013/bracket/seriesBracket.png") repeat scroll 0 0 transparent;
    color: #FFFFFF;
    height: 484px;
    margin: 0 auto;
    overflow: auto;
    position: relative;
    width: 1000px;
}
.nbaBracketModule .firstRound, .nbaBracketModule .confSemifinals, .nbaBracketModule .confFinals, .nbaBracketModule .finals, .nbaBracketModule .finals div, .nbaBracketModule .finals div span {
    position: absolute;
}
.nbaBracketModule .topSeed .teamName, .nbaBracketModule .bottomSeed .teamName {
    display: none;
}
.nbaBracketModule .west .firstRound {
    left: 42px;
    top: 38px;
}
.nbaBracketModule .west .confSemifinals {
    height: 300px;
    left: 190px;
    top: 92px;
}
.nbaBracketModule .west .confFinals {
    left: 278px;
    top: 200px;
}
.nbaBracketModule .east .firstRound {
    right: 42px;
    top: 38px;
}
.nbaBracketModule .east .confSemifinals {
    height: 300px;
    left: 680px;
    top: 92px;
}
.nbaBracketModule .east .confFinals {
    right: 278px;
    top: 200px;
}
.nbaBracketModule .matchup {
    height: 87px;
    width: 126px;
}
#nbaTheme .nbaBracketModule span.seed, #nbaTheme .nbaBracketModule .matchup ul li.lead span.seed {
    color: #808080;
}
#nbaTheme .nbaBracketModule .matchup a {
    font-weight: normal;
}
.nbaBracketModule .firstRound .matchup {
    margin-bottom: 20px;
}
.nbaBracketModule .firstRound .matchup.series2 {
    margin-bottom: 0;
}
.nbaBracketModule .confSemifinals .matchup.series5 {
    margin-bottom: 128px;
}
.nbaBracketModule .confSemifinals .matchup.series6 {
    bottom: 0;
    position: absolute;
}
#nbaTheme .nbaBracketModule .matchup ul {
    color: #FFFFFF;
    font-size: 24px;
    list-style-type: none;
    margin: 0 0 0 28px;
    padding: 10px 0 0;
}
#nbaTheme .nbaBracketModule .matchup ul li.lead, #nbaTheme .nbaBracketModule .matchup ul li.lead span {
    color: #4691DB;
}
#nbaTheme .nbaBracketModule .matchup ul li {
    height: 44px;
}
#nbaTheme .nbaBracketModule .matchup ul .seed {
    font-size: 14px;
    left: 16px;
    position: absolute;
}
#nbaTheme .nbaBracketModule span.gamesWon {
    color: #FFFFFF;
}
.nbaBracketModule .matchup ul .gamesWon {
    position: absolute;
    right: 16px;
}
.nbaBracketModule .finals {
    color: #FFFFFF;
    height: 290px;
    left: 426px;
    position: absolute;
    top: 96px;
    width: 146px;
}
.nbaBracketModule .finals > div {
    height: 125px;
    width: 125px;
}
.nbaBracketModule .finals .topSeed {
    bottom: 146px;
    left: 12px;
}
.nbaBracketModule .topSeed .seed {
    font-size: 14px;
    left: 20px;
    top: 5px;
}
.nbaBracketModule .topSeed .nbaTeamIcon64 {
    left: 30px;
    top: 0;
}
.nbaBracketModule .topSeed .gamesWon {
    font-size: 34px;
    left: 50px;
    top: 88px;
}
.nbaBracketModule .finals .bottomSeed {
    left: 12px;
    top: 146px;
}
.nbaBracketModule .bottomSeed .seed {
    font-size: 14px;
    left: 20px;
    top: 67px;
}
.nbaBracketModule .bottomSeed .nbaTeamIcon64 {
    left: 30px;
    top: 60px;
}
.nbaBracketModule .bottomSeed .gamesWon {
    font-size: 34px;
    left: 50px;
    top: 4px;
}
.nbaTeamIcon64 {
    background-image: url("http://i.cdn.turner.com/nba/tmpl_asset/static/nba-cms3-mobile/960/elements/nbaTeamIcons64.png");
    background-position: -1000px -1000px;
    background-repeat: no-repeat;
    background-size: 320px auto;
    display: block;
    height: 64px;
    width: 64px;
}
.nbaTeamIcon64.atl {
    background-position: 0 0;
}
.nbaTeamIcon64.bos {
    background-position: -64px 0;
}
.nbaTeamIcon64.bkn, .nbaTeamIcon64.njn {
    background-position: -128px 0;
}
.nbaTeamIcon64.cha {
    background-position: -192px 0;
}
.nbaTeamIcon64.chi {
    background-position: -256px 0;
}
.nbaTeamIcon64.cle {
    background-position: 0 -64px;
}
.nbaTeamIcon64.dal {
    background-position: -64px -64px;
}
.nbaTeamIcon64.den {
    background-position: -128px -64px;
}
.nbaTeamIcon64.det {
    background-position: -192px -64px;
}
.nbaTeamIcon64.gsw {
    background-position: -256px -64px;
}
.nbaTeamIcon64.hou {
    background-position: 0 -128px;
}
.nbaTeamIcon64.ind {
    background-position: -64px -128px;
}
.nbaTeamIcon64.lac {
    background-position: -128px -128px;
}
.nbaTeamIcon64.lal {
    background-position: -192px -128px;
}
.nbaTeamIcon64.mem {
    background-position: -256px -128px;
}
.nbaTeamIcon64.mia {
    background-position: 0 -192px;
}
.nbaTeamIcon64.mil {
    background-position: -64px -192px;
}
.nbaTeamIcon64.min {
    background-position: -128px -192px;
}
.nbaTeamIcon64.noh {
    background-position: -192px -192px;
}
.nbaTeamIcon64.nyk {
    background-position: -256px -192px;
}
.nbaTeamIcon64.okc {
    background-position: 0 -256px;
}
.nbaTeamIcon64.orl {
    background-position: -64px -256px;
}
.nbaTeamIcon64.phi {
    background-position: -128px -256px;
}
.nbaTeamIcon64.phx {
    background-position: -192px -256px;
}
.nbaTeamIcon64.por {
    background-position: -256px -256px;
}
.nbaTeamIcon64.sac {
    background-position: 0 -320px;
}
.nbaTeamIcon64.sas {
    background-position: -64px -320px;
}
.nbaTeamIcon64.tor {
    background-position: -128px -320px;
}
.nbaTeamIcon64.uta {
    background-position: -192px -320px;
}
.nbaTeamIcon64.was {
    background-position: -256px -320px;
}
.nbaTeamIcon64.east {
    background-position: 0 -384px;
}
.nbaTeamIcon64.west {
    background-position: -64px -384px;
}
#nba300Ad {
    background-color: #CCCCCC;
    height: 250px;
    width: 300px;
}
strong {
    font-weight: 700;
}
img {
    border: 0 none;
}
.ie a {
    outline: 0 none;
    text-decoration: none;
}
body {
    background: none repeat scroll 0 0 #000000;
}
#nbaContent {
    border-bottom: 0 none;
    box-shadow: 0 0 0 transparent;
    padding: 5px 0;
    text-align: left;
    width: 1000px;
    z-index: 0;
}
#nbaTheme #nbaContent {
    background-color: #FFFFFF;
}
#nbaGlanceRightColumn span.nbaAdNotice {
    color: #8E8E8E;
    font-size: 9px;
    height: 9px;
    position: absolute;
    right: 0;
    text-align: right;
    top: -12px;
    width: 88px;
}
#nbaContent.nbaWideContent {
    font-size: 12px;
    margin: 0 auto;
    padding: 0 0 20px;
    width: 1000px;
}
.nba300Ad {
    float: right;
    width: 300px;
}
.lowerContent {
    color: #363636;
    width: 970px;
}
#nbaSeriesSubnavLinks {
    margin: 0 0 10px 40px;
    padding: 28px 0 0;
    text-decoration: none;
    text-transform: uppercase;
}
#nbaTheme #nbaSeriesSubnavLinks a, #nbaTheme #nbaSeriesSubnavLinks a:hover {
    color: #0066DD;
    text-decoration: none;
}
#nbaTheme #nbaWestContent, #nbaTheme #nbaEastContent {
    float: left;
}
#nbaTheme #nbaSeriesSubnavLinks a, #nbaTheme #nbaSeriesSubnavLinks span {
    font-size: 12px;
    margin-right: 18px;
}
#nbaSeriesSubnavLinks .disabled, #nbaSeriesSubnavLinks .disabled:hover {
    color: #ACACAC;
    cursor: default;
    font-weight: bold;
    text-decoration: none;
}
#nbaGlanceSeriesHubLink {
    border: 0 none;
    margin-top: 10px;
}
#nbaCoastHeader, #nbaCoastHeader2 {
    margin-bottom: 18px;
}
#nbaPlayoffsRoundHeader {
    clear: left;
    height: 52px;
    margin-bottom: 18px;
    width: 635px;
}
#nbaPlayoffsRoundHeader.hdrround1Bck {
    background: url("http://i.cdn.turner.com/nba/tmpl_asset/static/nba-cms3-section/872/elements/playoffs/2013/bracket/headround1.jpg") no-repeat scroll 0 0 transparent;
}
#nbaPlayoffsRoundHeader.hdrsemifinalsBck {
    background: url("http://i.cdn.turner.com/nba/tmpl_asset/static/nba-cms3-section/872/elements/playoffs/2013/bracket/headsemifinals.jpg") no-repeat scroll 0 0 transparent;
}
#nbaPlayoffsRoundHeader.hdrconferencefinalsBck {
    background: url("http://i.cdn.turner.com/nba/tmpl_asset/static/nba-cms3-section/872/elements/playoffs/2013/bracket/headconferencefinals.jpg") no-repeat scroll 0 0 transparent;
}
#nbaPlayoffsRoundHeader.hdrfinalsBck {
    background: url("http://i.cdn.turner.com/nba/tmpl_asset/static/nba-cms3-section/872/elements/playoffs/2013/bracket/headfinals.jpg") no-repeat scroll 0 0 transparent;
}
#nbaGlanceLeftColumn {
    
    margin: 50px 0 0 200px;
   
}
#nbaEastColumn {
    float: left;
    width: 285px;
}
#nbaWestColumn {
    float: left;
    margin: 0 30px 0 0;
    width: 285px;
}
#nbaGlanceRightColumn {
    color: #757575;
    float: right;
    position: relative;
    top: -75px;
    width: 300px;
}
.seriesPod {
    float: left;
    height: 120px;
    position: relative;
}
#nbaTheme .seriesPod .lead {
    color: #FF0000;
}
#nbaTheme div#nbaTeamCity {
    float: left;
    font-size: 11px;
    font-weight: bold;
    height: 14px;
    padding-left: 13px;
    text-transform: uppercase;
    width: 220px;
}
#nbaTheme div#nbaTeamName {
    clear: none;
    float: left;
    font-family: Helvetica;
    font-size: 26px;
    font-weight: bold;
    height: 30px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 220px;
}
#nbaTheme div#nbaTeamWins {
    color: #FF0000;
    float: left;
    font-size: 9px;
    font-weight: bold;
    height: 14px;
    text-align: center;
    width: 43px;
}
#nbaTheme div#nbaTeamSeed {
    color: #AAAAAA;
    float: left;
    font-size: 10px;
    height: 11px;
    padding-top: 6px;
    text-align: center;
    width: 13px;
}
#nbaPlaceholder {
    height: 14px;
    width: 43px;
}
#nbaTheme div#nbaTeamTotalWins {
    clear: none;
    float: left;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    height: 22px;
    margin-bottom: 3px;
    padding-top: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 43px;
}
.nbaTeamWinner {
    color: #ED1C24;
}
#nbaLinkList {
    font-size: 12px;
    margin: 0;
    padding-left: 1px;
}
#nbaLinkList li {
    list-style: none outside none;
    margin: 0;
    padding-left: 0;
}
#nbaGlancePodBlurb {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
    text-transform: uppercase;
}
#nbaGlanceFullStoryLink {
    font-size: 10px;
    text-transform: none;
}
#nbaGlancePod {
    float: none;
    margin: 0 0 50px 12px;
}
#nbaGlanceSeriesHubLink {
    border: 0 none;
    margin-top: 10px;
}
#nbaCoastHeader {
    margin-bottom: 18px;
}
#nbaGlancePodBlurb {
    float: none;
}
#nbaTheme #seriesLwr {
    float: left;
    margin: 10px 0 40px;
}
#nbaTheme .seriesPod #seriesLwr a img {
    margin: 0 0 0 -10px;
}
#nbaTheme #seriesLwr .seriesTout span.header {
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    text-transform: uppercase;
}
#nbaTheme #seriesLwr .seriesTout span.headerLink a, #nbaTheme #seriesLwr .seriesTout li a {
    color: #0066DD;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
}
#nbaTheme #seriesLwr .seriesTout span.headerLink {
    margin: 0 0 0 8px;
}
#nbaTheme #seriesLwr .seriesTout li {
    font-size: 11px;
    margin: 3px 0 0 15px;
}
.nba728Ad {
    border: 1px solid #2A2A2A;
    margin: 0 auto 25px;
    width: 728px;
}
