.highlight { color: #f00 !important; }
.highlight2 { color: #0f0 !important; font-weight: bold; }

body, textarea {
color: #444;
}.events_subheadline {
width: 151px;
height: 100px;
background: center center no-repeat;
}.events_subheadline_text {
width: 151px;
height: 100px;
position: absolute;
top: 0;
left: 0;
display: none;
color: #fff;
text-align: center;
overflow: hidden;
}.events_subheadline_bg {
background: url('images/black.png');
width: 100%;
font-size: 12px;
font-weight: bold;
}.events_subheadline_clicker {
position: absolute;
top: 0;
left: 0;
}.events_subsection {
width: 300px;
padding: 0px;
margin: 0px;
font-size: 10px;
}.events_subsection_header {
	 width: 632px;
 height: 31px;
 background-image: url('images/events_subheader.png');
 background-repeat: repeat-x;

}

.events_subsection_top {
width: 100%;
height: 53px;
background: url('images/event_panel_bg.png') repeat-x;
position: absolute;
top: 37px;
left: 0;
z-index: -1;
}.events_subsection_bottom {
width: 100%;
height: 156px;
background: url('images/event_panel_bottom.png') repeat-x;
position: absolute;
bottom: 0;
left: 0;
z-index: -1;
}#events_photos td {
width: 135px;
text-align: center;
}.other_videos {
width: 300px;
padding: 5px;
font-size: 12px;
}.scroll {
position:relative;
overflow:hidden;
width: 600px;

}

/* root element for the scroll pics */
.scroll .pics {
width:20000em;
position:absolute;

}
