#nbaph_video_top {
background: #f6f6f6;
width: 100%;
border-bottom: 1px solid #bd9c54;
}

#nbaph_video_headliner {
width: 70%;
max-width: 692px;
float: left;
}

#nbaph_video_rated {
width: 30%;
float: left;
}

.nbaph_video_top_padding {
margin: 15px;
}

#nbaph_video_headliner_preview, #nbaph_video_headliner_preview img {
width: 100%;
}

#nbaph_video_headliner_description {
margin-top: 15px;
font-family: Lato;
font-size: 12px;
color: #454545;
}

#nbaph_video_headliner_description a {
font-family: Oswald;
font-size: 19px;
color: #296cb5;
}

.nbaph_hl, .nbaph_tp {
width: 100%;
}

.nbaph_video_rated_cells {
width: 100%;
border: 1px solid #d8d8d8;
background: #fff;
margin-bottom: 15px;
}

.nbaph_video_rated_cells td {
vertical-align: top;
}

.nbaph_video_rated_thumbnail {
width: 50%;
padding: 5px;
}

.nbaph_video_rated_thumbnail img {
width: 100%;
}

.nbaph_video_rated_description {
padding: 5px;
font-family: Lato;
font-size: 11px;
color: #454545;
}

.nbaph_video_rated_description a {
font-family: Oswald;
font-size: 13px;
color: #296cb5;
}

#nbaph_video_list_max, #nbaph_video_list_mid, #nbaph_video_list_min {
width: 1000%;
}

#nbaph_video_list_max td {
width: 2.5%;
padding: 15px;
}

#nbaph_video_list_mid td {
width: 2%;
padding: 15px;
}

#nbaph_video_list_min td {
width: 5%;
padding: 15px;
}

.nbaph_video_thumbnail_padding {
width: 100%;
padding: 10px;
}

.nbaph_video_thumbnail, .nbaph_video_thumbnail img {
width: 100%;
}

#nbaph_video_list_mid, #nbaph_video_list_min {
display: none;
}

@media only screen and (max-width: 1010px) {

}

@media only screen and (max-width: 900px) {
   #nbaph_video_headliner {
   width: 60%;
   }

   #nbaph_video_rated {
   width: 40%;
   }
}

@media only screen and (max-width: 767px) {
   #nbaph_video_headliner {
   width: 50%;
   }

   #nbaph_video_rated {
   width: 50%;
   }

   #nbaph_video_list_max {
   display: none;
   }

   #nbaph_video_list_mid {
   display: block;
   }
}

@media only screen and (max-width: 600px) {
   #nbaph_video_headliner {
   width: 100%;
   float: none;
   }

   #nbaph_video_rated {
   width: 100%;
   float: none;
   }
}

@media only screen and (max-width: 445px) {
   #nbaph_video_list_mid {
   display: none;
   }

   #nbaph_video_list_min {
   display: block;
   }

   .nbaph_article_pages_video img {
   margin: 0 5px;
   }
}