@font-face {
  font-family: 'Lato';
  src: url('http://ph.glob-prev2.nba.com/media/font/Lato-Regular.eot');
  src: url('http://ph.glob-prev2.nba.com/media/font/Lato-Regular.eot?#iefix') format('embedded-opentype'), url('http://ph.glob-prev2.nba.com/media/font/Lato-Regular.woff') format('woff'), url('http://ph.glob-prev2.nba.com/media/font/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Lato';
  src: url('http://ph.glob-prev2.nba.com/media/font/Lato-Black.eot');
  src: url('http://ph.glob-prev2.nba.com/media/font/Lato-Black.eot?#iefix') format('embedded-opentype'), url('http://ph.glob-prev2.nba.com/media/font/Lato-Black.woff') format('woff'), url('http://ph.glob-prev2.nba.com/media/font/Lato-Black.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Open Sans";
  src: url("http://ph.glob-prev2.nba.com/media/font/OpenSans-Regular.eot?");
  src: url("http://ph.glob-prev2.nba.com/media/font/OpenSans-Regular.eot?#iefix") format("eot"), url("http://ph.glob-prev2.nba.com/media/font/OpenSans-Regular.woff") format("woff"), url("http://ph.glob-prev2.nba.com/media/font/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Oswald";
  src: url('http://ph.glob-prev2.nba.com/media/font/Oswald.eot');
  src: url("http://ph.glob-prev2.nba.com/media/font/Oswald.eot?#iefix") format("embedded-opentype"), url("http://ph.glob-prev2.nba.com/media/font/Oswald.woff") format("woff"), url("http://ph.glob-prev2.nba.com/media/font/Oswald.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
