
html, body {
    font-family: Tahoma;
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}
h1 {
    border-bottom: 1px solid #DDDDDD;
    font-size: 38pt;
    margin: 0;
}
h2.subtitle {
    margin-bottom: 40px;
    margin-top: 0;
}
#container {
    background: none repeat scroll 0 0 #F2F2F2;
    color: #EEEEEE;
    overflow: hidden;
    width: 530px;
	height:55px;
}
#countdown_dashboard {
    height: 55px;
}
.dash {
    background: url("../images/dash.png") no-repeat scroll 0 0 transparent;
    color: #333333;
    float: left;
    height: 55px;
    margin-left: 2px;
    padding-left: 10px;
    position: relative;
    width: 70px;
}
.weeks_dash {
    background: url("../images/dark_weeks_dash.png") no-repeat scroll 0 0 transparent;
}
.title_after_countdown{
    background: url("/media/2.0/header-banner-2pm.png") no-repeat scroll 0 0 transparent;
    width: 655px !important;   
    height: 55px;
    cursor: pointer;
}
.title_after_countdown a{
    display: block;
    width: 655px;
    height: 55px;
}
.days_dash {
    background: url("../images/dark_days_dash_55px.png") no-repeat scroll 0 0 transparent;
}
.hours_dash {
    background: url("../images/dark_hours_dash_55px.png") no-repeat scroll 0 0 transparent;
}
.minutes_dash {
    background: url("../images/dark_minutes_dash_55px.png") no-repeat scroll 0 0 transparent;
}
.seconds_dash {
    background: url("../images/dark_seconds_dash_55px.png") no-repeat scroll 0 0 transparent;
}
.dash .digit {
    float: left;
    font: bold 30pt Verdana;
    position: relative;
    text-align: center;
    width: 32px;
}
.dash_title {
    display: none;
}
.dev_comment {
    clear: left;
    color: #FFFFFF;
    font-size: 14pt;
    margin: 20px 10px;
    padding-top: 10px;
    text-align: center;
}
#subscribe_form {
    position: relative;
}
#email_field {
    font-size: 16pt;
    padding: 6px 10px;
    width: 300px;
}
#subscribe_button {
    color: #333333;
    font-size: 14pt;
    padding: 4px 8px;
}
.copyright {
    color: #333333;
    font-size: 9pt;
    margin: 40px 0;
}
.faded {
    color: #999999;
}
.form_message {
    display: none;
    margin: 15px auto;
    padding: 10px;
    width: 400px;
}
#error_message {
    background-color: #FFFFEE;
    border-left: 5px solid #BBBB33;
    border-right: 5px solid #BBBB33;
    color: #777700;
}
#info_message {
    background-color: #F0F9FF;
    border: 1px solid #EEEEFF;
    color: #224477;
}
#loading {
    display: none;
    margin: 10px;
    position: absolute;
    text-align: center;
    top: 60px;
    width: 100%;
}
