a {
color: #0054af;
}

td {
padding: 5px;
font-size: 11px;
color: #444;
}

#news_table td {
width: 135px;
}

.news_list {
list-style: none;
margin: 0;
padding: 0;
}

.news_list li {
float: left;
width: 95px;
height: 21px;
padding: 8px 0 0 10px;
background: url('images/news_tab.png');
font-size: 11px;
font-weight: bold;
color: #444;
cursor: pointer;
}

#news_table td {
vertical-align: top;
}
